**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
terraform.tfstate
terraform.tfstate.backup
*.tfstate*
*.tfstate.*
*.terraform*
.terraform/*
*terraform/*
*.tfstate
*.tfstate.*
**/.terraform/*
.terraform/
./terraform.tfvars